# Variáveis de Ambiente - SITE (API Flask)
API_SECRET=f1ea26feb8cdc1c5ab110f2de57f77df
FLASK_ENV=production
PORT=8080

# Variáveis de Ambiente - BOT (Discord)
DISCORD_TOKEN=seu_token_bot_aqui
DONO_ID=1468059815052968009
SERVIDOR_URL=https://neoreplay-api.onrender.com
